.dataset-list.table-wrapper {
  font-size: 0.95rem;
  letter-spacing: 0.01em;
}

.dataset-list.table-wrapper table {
  width: 100%;
}

.dataset-list.table-wrapper td {
  padding: 0.75rem 1rem;
  vertical-align: top;
}

.dataset-list.table-wrapper td:first-child {
  font-family: var(--font-stack--monospace);
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-brand-primary);
  white-space: nowrap;
}

.dataset-list.table-wrapper td:last-child {
  font-family: var(--font-stack);
  font-size: 0.95rem;
  line-height: 1.6;
  color: var(--color-foreground-secondary);
}
